---
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

import { techIcon } from '@/utils/techIcon'

// import BillyAvatar from '@/components/Base/BillyAvatar.astro'
import Layout from '@/layouts/Layout.astro'

type Props = {
    item: CollectionEntry<'projects'>
}

function formattedDate(date: Date) {
    const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'short', day: 'numeric' }
    return {
        fullDate: new Intl.DateTimeFormat('en-US', options).format(date),
        year: new Intl.DateTimeFormat('en-US', { year: 'numeric' }).format(date),
        month: new Intl.DateTimeFormat('en-US', { month: 'short' }).format(date),
        day: new Intl.DateTimeFormat('en-US', { day: 'numeric' }).format(date)
    }
}

export const getStaticPaths = async () => {
    const projectItems = await getCollection('projects')
    const paths = projectItems.map((item) => {
        return {
            params: {
                slug: item.slug
            },
            props: {
                item
            }
        }
    });
    return paths
}

const { item } = Astro.props as Props
const { Content } = await item.render()
---

<Layout title={ item.data.title }>
    <section class="content">
        <div class="project-top-nav">
            <a href="/">Home</a>
        </div>
        <h1 class="project-title">{ item.data.title }</h1>
        <p class="project-date">
            <svg class="line-icon" width="12" height="12" viewBox="0 0 24 24">
                <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                <path d="M16 3l0 4" />
                <path d="M8 3l0 4" />
                <path d="M4 11l16 0" />
            </svg>
            { formattedDate(item.data.date).year }
        </p>
        <Image
            class="project-banner-img"
            src={item.data.image.src}
            alt={item.data.image.alt}
            width="768"
            height="706"
            format="webp"
        />
        <h2>Tech used:</h2>
        <ul class="tech-list">
            {item.data.tech.map((tech: string) => {
                return (
                    <li data-tooltip={tech}>
                        <img
                            class="tech-icon"
                            src={techIcon(tech)?.src}
                            alt={tech}
                            role="presentation"
                        />
                    </li>
                )
            })}
        </ul>
        <Content />
        <div>
            <a href="/">Home</a>
        </div>
    </section>
</Layout>

<style lang="scss">
.project-top-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project-date {
    align-items: center;
    color: rgba(11, 14, 19, 0.7);
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    gap: 0.5rem;

    & .line-icon {
        height: 1rem;
        opacity: 0.75;
        stroke-width: 2.5;
        width: 1rem;
    }
}

.project-banner-img {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    margin: 1rem 0 2rem;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 2rem;
}

.tech-list li {
    position: relative;
    padding: 0 0.5rem;
}

.tech-list li:first-child {
    padding-left: 0;
}

.tech-list li:last-child {
    padding-right: 0;
}

.tech-list li::before {
    background: rgba(11, 14, 19, 0.8);
    border-radius: 2rem;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 0.75rem;
    left: 50%;
    opacity: 0;
    padding: 0.25rem 1rem;
    position: absolute;
    transform: translate(-50%, 0.5rem);
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: auto;
}

.tech-list li:first-child::before {
    left: calc(50% - 0.25rem);
}

.tech-list li:last-child::before {
    left: calc(50% + 0.25rem);
}

.tech-list li:hover::before {
    opacity: 1;
    transform: translate(-50%, 0);
    visibility: visible;
}

.tech-list li:hover .tech-icon {
    transform: translateY(-0.1875rem);
}

.tech-icon {
    height: 2.5rem;
    margin: 0.5rem 0;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 2.5rem;
}

.project-title {
    font-size: 3rem;
    margin-bottom: 0.125rem;
}

// .project-date {
//     color: rgba(11, 14, 19, 0.7);
//     font-size: 0.875rem;
//     margin: 0 0 1rem;
// }
</style>